html{ 
    background-color:#ffaabd;
}
button{
    position: absolute; /*permite que o JavaScript controle sua posição com as coordenadas left e top*/
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff2f57;
    color: #f0f0f0;
    border-radius: 5px;
}